# Dependencies
node_modules/
.pnp
.pnp.js

# Build / Next
.next/
out/
build/
dist/

# Env (secrets)
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# Debug / IDE
npm-debug.log*
.DS_Store
*.log
.idea
.vscode

# Vercel
.vercel
